/**
 * Base
**/
@import "../../../global/assets/scss/owl-carousel/owl.carousel";
@import "../../../global/assets/scss/jsCalendar";
@import "../../../global/assets/scss/style";

/**
 * Variables
**/
$aqua: #31929a;
$red: #e11212;
$yellow: #f5a623;

$light-green: #7ed321;
$green: #417505;

$purple: #ac92ec;
$dark-purple: #541663;

$blue: #4a90e2;
$dark-blue: #0059c2;

$lightest-gray: #f7f7f7;
$light-gray: #e1e1e1;
$gray: #d8d8d8;

$text-light: #94979b;
$text: #b5b7bb;
$text-dark: #818181;
$text-darkest: #343434;


/**
 * Global
**/
.btn {
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    transition: all .3s ease;
    &.btn-small {
        font-size: .6em;
        padding: .75rem 2rem;
    }
    &.btn-medium {
        font-size: .8em;
        padding: .75rem 1.5rem;
    }
    &.btn-black {
        color: white;
        border-radius: .5rem;
        background-color: black;
        &:hover {
            background-color: $blue;
        }
    }
    &.btn-blue {
        font-size: .8em;
        color: white;
        background-color: $blue;
        border-radius: .25rem;
    }
    &.btn-yellow {
        font-size: .8em;
        color: white;
        border-radius: .5rem;
        background-color: $yellow;
    }
    &.btn-gray {
        color: black;
        border-radius: .25rem;
        border: 1px solid $gray;
        background-color: $light-gray;
    }
    &.btn-green {
        color: white;
        border-radius: .25rem;
        background-color: $green;
    }
    &.btn-lightgreen {
        color: white;
        border-radius: .25rem;
        background-color: $light-green;
    }
}


/**
 * Header
**/
#header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 1rem 0 rgba(black,.1);
    .left {
        padding: 0 .5rem;
        width: 15%;
        .logo-wrapper {
            display: block;
            .logo {
                height: 2rem;
            }
        }
        .toggle-sidebar {
            display: block;
            padding: .25rem;
            .lines {
                position: relative;
                width: 1.25rem;
                height: 13px;
                overflow: hidden;
                .line {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $text-light;
                    transition: all .5s ease;
                    &:first-child {
                        top: 0;
                    }
                    &:nth-child(2) {
                        left: 5px;
                        top: 50%;
                    }
                    &:last-child {
                        bottom: 0;
                    }
                }
            }
            &:hover {
                .lines {
                    .line {
                        &:nth-child(2) {
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    .right {
        width: 85%;
        .icon-wrapper {
            display: block;
            .icon {
                height: 1.25rem;
            }
            p {
                font-size: .9em;
                padding-left: .5rem;
                font-weight: $light;
            }
        }
        .search-wrapper {
            display: flex;
            align-items: center;
            .search {
                padding: 0;
                border: none;
                background-color: transparent;
                outline: none;
                .icon {
                    height: 1rem;
                }
            }
            .input {
                color: $text-light;
                padding: .25rem;
                border: none;
                outline: none;
                font-weight: $light;
                &::placeholder {
                    color: $text-light;
                }
            }
        }
        .user-wrapper {
            .user {
                display: flex;
                align-items: center;
                .icon {
                    height: 2rem;
                }
            }
        }
    }
}

/**
 * Dashboard wrapper
**/
#dashboar-wrapper {
    padding-top: 4rem;
    padding-left: 15%;
    height: 100vh;
    overflow: hidden;
}

/**
 * Sidebar
**/
.registered-provider {
    #sidebar {
        .user-type {
            background-color: rgba($aqua, .5);
        }
        .sidebar-block {
            background-color: $aqua;
        }
    }
}
.local-authority {
    #sidebar {
        .user-type {
            background-color: rgba($dark-purple, .5);
        }
        .sidebar-block {
            background-color: $dark-purple;
        }
    }
}
#sidebar {
    position: fixed;
    z-index: 40;
    top: 4rem;
    left: 0;
    bottom: 0;
    color: white;
    width: 15%;
    font-size: .8em;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    .user-type {
        padding: 1.5rem 1rem;
        text-align: center;
        p {
            font-weight: $regular;
        }
    }
    .sidebar-block {
        padding: 1.5rem;
        .icon-wrapper {
            display: flex;
            align-items: center;
            img {
                height: 1.5rem;
            }
            p,
            span {
                padding-left: .5rem;
            }
        }
        .menu {
            margin: 0;
            padding: 0;
            list-style: none;
            margin-left: 1rem;
            padding-top: .5rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid white;
            .menu-item {
                padding: .5rem 0;
                .icon-wrapper {
                    width: 100%;
                    color: white;
                    font-weight: $light;
                    font-size: .9em;
                    padding-left: 1rem;
                }
            }
        }
    }
}


/**
 * Dashboard
**/
#dashboard {
    height: 100%;
    overflow-y: auto;
    padding: 5rem 2rem;
    background-color: #f5f7fa;
    .main-content {
        padding: .5rem 0;
        .block {
            padding: .5rem 0;
        }
    }
    &.home {
        .segment {
            padding: 1rem 0;
            .head {
                .heading {
                    font-size: 1em;
                    font-weight: $light;
                }
                .select {
                    font-size: .7em;
                    font-weight: $light;
                    border: none;
                    background-color: transparent;
                }
            }
            .blocks {
                .block {
                    text-align: center;
                    background-color: white;
                    border-radius: .25rem;
                    box-shadow: 0 0 1rem 0 $lightest-gray;
                }
            }
            &.overview {
                .block {
                    padding: 2rem;
                    .icon-wrapper {
                        margin: 0 auto;
                        width: 3rem;
                        height: 3rem;
                        padding: .5rem;
                        border: 1px solid $lightest-gray;
                        border-radius: .25rem;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .center {
                        padding: 2rem 0;
                        .data {
                            font-size: 2em;
                            padding-bottom: .25rem;
                        }
                        .percentage-wrapper {
                            padding-top: .25rem;
                            display: inline-flex;
                            svg {
                                height: 1rem;
                                width: .5rem;
                            }
                            p {
                                padding-left: .25rem;
                                font-size: .9em;
                            }
                            &.positive {
                                color: $aqua;
                                svg {
                                    transform: rotate(180deg);
                                    fill: $aqua;
                                }
                            }
                            &.negative {
                                color: $red;
                                svg {
                                    fill: $red;
                                }
                            }
                        }
                    }
                    .heading {
                        color: $text;
                        font-size: .8em;
                        font-weight: $light;
                    }
                }
            }
            &.kpi-business {
                .chart {
                    text-align: left;
                    padding: 2rem;
                }
            }
            &.action-blocks {
                .block {
                    .head {
                        padding: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid $lightest-gray;
                        .heading {

                        }
                        .count {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 2rem;
                            height: 2rem;
                            color: white;
                            border-radius: .25rem;
                            p {
                                font-size: .8em;
                                font-weight: $regular;
                            }
                            &.notification {
                                background-color: $dark-blue;
                            }
                            &.error {
                                background-color: $red;
                            }
                        }
                    }
                    .content {
                        padding: 2rem 0;
                        .icon-wrapper {
                            padding-bottom: 1.5rem;
                            img {
                                width: 3rem;
                                height: 3rem;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
    }
}

/**
 * Search overlay
**/
#search-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 4rem;
    left: 15%;
    right: 0;
    bottom: 0;
    background-color: rgba(white,.9);
    .close-wrapper {
        position: absolute;
        z-index: 1;
        top: 4rem;
        right: 4rem;
        .close {
            width: 2rem;
            height: 2rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .wrapper {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .search-form {
        width: 100%;
        padding: 0 5rem;
        .heading {
            font-size: 3em;
            font-weight: $regular;
            span {
                color: $text-light;
            }
        }
    }
}

.property-filters {
    .wrapper {
        .header {
            padding-bottom: 2rem;
            .heading {
                font-size: 2.5em;
                font-weight: $light;
                padding-bottom: .5rem;
            }
            .select {
                outline: none;
                border: none;
                background-color: transparent;
                color: $blue;
                font-weight: $medium;
                text-transform: uppercase;
                min-width: 12rem;
                option {
                    color: black;
                    text-transform: none;
                }
            }
        }
        .field-wrapper {
            .input {
                padding: .75rem;
                border-radius: .25rem;
                color: black;
                width: 25rem;
                outline: none;
                border: 1px solid $gray;
                background-color: $lightest-gray;
                &::placeholder {
                    color: black;
                }
            }
        }
        .filter {
            padding: 5rem 0;
            text-align: center;
            background-color: $gray;
            p {
                font-weight: $medium;
                padding-bottom: 1rem;
            }
            .input {
                border: none;
                outline: none;
                background-color: transparent;
            }
        }
    }
}

/**
 * Search Form
**/
#search-form {
    .form {
        padding: .25rem;
        border-radius: .1rem;
        background-color: whitesmoke;
        box-shadow: 0 0 5px 0 rgba($gray, .5);
        .col {
            &:last-child {
                .input-wrapper {
                    border: none;
                }
            }
        }
        .input {
            font-weight: $light;
        }
        .search-radius {
            display: flex;
            padding: .5rem;
            background-color: white;
            width: 22rem;
            .input {
                padding: .5rem;
                color: $text-darkest;
                font-weight: $light;
                border: none;
                background-color: transparent;
            }
            .search {
                width: 65%;
            }
            .radius {
                border-left: 1px solid $gray;
                text-align: center;
                width: 35%;
            }
        }
        .input-wrapper {
            margin: .5rem 0;
            padding: 0 1rem;
            border-right: 1px solid $gray;
            .input {
                cursor: pointer;
                padding: .5rem 1rem;
                border: none;
                width: 100%;
                background-color: transparent;
            }
        }
    }
}

/**
 * Filter form
**/
#filter-form {
    position: relative;
    border-bottom: 1px solid $light-gray;
    .nav-menu {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0 -.5rem;
        padding: 0;
        .menu-item {
            padding: 0 .5rem;
            .link {
                padding: .5rem;
                display: inline-flex;
                align-items: center;
                border-bottom: 2px solid transparent;
                img {
                    height: 2rem;
                }
                span {
                    padding-left: .5rem;
                }
                &.active {
                    border-bottom-color: black;
                    span {
                        font-weight: $bold;
                    }
                }
            }
        }
    }
    .form {
        .flexbox {
            height: 100%;
            margin: 0 -.25rem;
            .col {
                padding: 0 .25rem;
            }
        }
        .heading {
            padding-right: 1.75rem;
        }
        .filter-wrapper {
            .toggle-filter-overlay {
                position: relative;
                width: 1.25rem;
                height: 13px;
                outline: none;
                .line {
                    position: absolute;
                    display: block;
                    width: 1.25rem;
                    height: 1px;
                    background-color: black;
                    left: 0;
                    transition: all .25s ease;
                    &:first-child {
                        top: 0;
                    }
                    &:nth-child(2) {
                        top: 6px;
                    }
                    &:last-child {
                        bottom: 0;
                    }
                }
                &.active {
                    .line {
                        &:first-child {
                            top: 6px;
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            transform: scale(0);
                        }
                        &:last-child {
                            bottom: 6px;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
            .icon {
                display: block;
                img {
                    width: 1rem;
                }
            }
            .overlay {
                display: none;
            }
        }
    }
}

/**
 * Filter overlay
**/
#filter-overlay {
    display: none;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(white,.9);
    padding: 3rem;
}

/**
 * Breadcrumbs
**/
#breadcrumbs {
    border-bottom: 1px solid $light-gray;
    .breadcrumbs {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        margin: 0 -.5rem;
        .breadcrumb {
            padding: 0 .5rem;
            &.main {
                display: flex;
                align-items: center;
                p {
                    font-weight: $medium;
                    padding-right: 1rem;
                }
                img {
                    width: 3rem;
                    max-height: 1rem;
                }
            }
            &.active {
                p {
                    font-weight: $medium;
                }
            }
        }
    }
}

/**
 * Refine properties
**/
#refine {
    padding-top: 1rem;
    .refine-wrappper {
        position: relative;
        .overlay {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            z-index: 10;
            top: 2rem;
            right: -1rem;
            padding: 1.5rem 1rem;
            min-width: 16rem;
            border-radius: .25rem;
            background-color: white;
            box-shadow: 0 0 1rem 0 $gray;
            transition: all .5s ease;
            &.active {
                visibility: visible;
                opacity: 1;
                top: 3rem;
            }
            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                bottom: 100%;
                right: 1rem;
                border: .5rem solid transparent;
                border-bottom-color: white;
            }
            .heading {
                color: $text;
                font-size: .6em;
                padding-bottom: 1.25rem;
            }
            .choices {
                list-style: none;
                padding: 0;
                margin: 0;
                .choice {
                    padding: .5rem 0;
                    .icon-wrapper {
                        display: flex;
                        align-items: center;
                        img {
                            width: 1.5rem;
                            height: 1.5rem;
                            object-fit: contain;
                        }
                        span {
                            font-weight: $regular;
                            padding-left: .5rem;
                        }
                    }
                }
            }
        }
    }
}


/**
 * Property returned by
**/
#returned-info {
    border-radius: .25rem;
    background-color: $gray;
    border: 1px solid gray;
    padding: 1.5rem 2.5rem;
    .wrapper {
        display: flex;
        align-items: center;
        .person {
            width: 2.5rem;
        }
        .warning {
            margin: 0 .5rem;
            width: 1.5rem;
        }
        p {
            font-weight: $medium;
            span {
                &.active {
                    color: $red;
                }
            }
        }
    }
}

/**
 * Returned message
**/
#returned-message {
    border-radius: .25rem;
    background-color: white;
    border: 1px solid gray;
    padding: 1.5rem 2.5rem;
    .heading {
        color: black;
        font-size: 1.25em;
        font-weight: $medium;
        padding-bottom: 1rem;
    }
    .title {
        font-size: 1.25em;
        padding-bottom: .75rem;
        color: $text-dark;
    }
    .location {
        font-size: .9em;
        font-weight: $medium;
        color: $text;
    }
    .read {
        font-size: .9em;
        color: $text-dark;
    }
    .description {
        padding-bottom: 1rem;
        font-size: .9em;
        color: $text-dark;
        line-height: 1.5;
    }
}

/**
 * Property in grid
**/
.property-wrapper {
    padding: 1rem 0;
    .property {
        border-radius: .25rem;
        background-color: white;
        overflow: hidden;
        box-shadow: 0 0 5px 0 $light-gray;
        .image-wrapper {
            height: 22.5rem;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .content {
            position: relative;
            padding: 2rem;
            height: 100%;
            .location {
                color: $text-dark;
                font-size: .8em;
                font-weight: $medium;
            }
            .title {
                font-size: 1.25em;
                font-weight: $medium;
                padding: .75rem 0;
            }
            .distance {
                color: $blue;
                font-size: .8em;
                font-weight: $medium;
            }
            .description {
                padding: 1rem 0;
                font-size: .8em;
                color: $text-dark;
                line-height: 1.5;
            }
            .overlay {
                position: absolute;
                z-index: 1;
                top: 1rem;
                right: 1rem;
                .star-wrapper {
                    display: flex;
                    align-items: center;
                    .stars {
                        display: flex;
                        align-items: center;
                        padding-right: .5rem;
                        .star {
                            svg {
                                display: block;
                                width: 1.25rem;
                                height: 1.25rem;
                                fill: $gray;
                            }
                            &.full {
                                svg {
                                    fill: black;
                                }
                            }
                        }
                    }
                    .icon {
                        width: 1.75rem;
                    }
                }
                .icon-group {
                    display: flex;
                    align-items: center;
                    img {
                        width: 1.5rem;
                    }
                    .icon {
                        margin-right: .25rem;
                    }
                    .exclamation {
                        margin-left: .25rem;
                    }
                }
                .message-wrapper {
                    display: flex;
                    align-items: center;
                    .icon {
                        width: 1.5rem;
                    }
                    .icon-group {
                        padding: 1rem;
                        margin-left: .5rem;
                        display: flex;
                        align-items: center;
                        color: white;
                        border-radius: .5rem;
                        &.attention {
                            background-color: $red;
                        }
                        &.success {
                            background-color: $light-green;
                        }
                        .message {
                            padding-left: .5rem;
                            font-size: .6em;
                            p {
                                letter-spacing: 2px;
                                text-transform: uppercase;
                                &:first-child {
                                    padding-bottom: .25rem;
                                }
                            }
                        }
                    }
                }
                .icon-wrapper {
                    .icon {
                        width: 2rem;
                    }
                }
            }
        }
    }
    &.property-slider {
        padding: 0;
        .property {
            .slider-wrapper {
                min-height: 22.5rem;
                height: 100%;
                .owl-stage-outer {
                    height: 100%;
                    .owl-stage {
                        height: 100%;
                        display: flex;
                        .owl-item {
                            float: none;
                        }
                        &::after {
                            content: none;
                        }
                    }
                }
                .slide {
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .content {
                .overlay {
                    top: 0;
                    right: 0;
                }
            }
        }
        .footer {
            .thumbnails {
                margin: 0 -.5rem;
                height: 100%;
                .owl-carousel {
                    height: 100%;
                    .owl-stage-outer {
                        height: 100%;
                        .owl-stage {
                            height: 100%;
                            display: flex;
                            .owl-item {
                                float: none;
                            }
                            &::after {
                                content: none;
                            }
                        }
                    }
                }
                .thumbnail {
                    display: block;
                    padding: 0 .5rem;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .information {
                padding-left: 1rem;
                .wrapper {
                    padding: 2rem;
                    border-radius: .5rem;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &.la {
                        justify-content: flex-start;
                    }
                    .btn-wrap {
                        padding: 0 .5rem;
                        p {
                            color: $blue;
                            font-size: .9em;
                            font-weight: $medium;
                            padding-bottom: .25rem;
                        }
                    }
                    .info {
                        font-size: .8em;
                        .person {
                            color: $blue;
                            font-weight: $medium;
                        }
                        .location {
                            color: $text-dark;
                        }
                    }
                }
            }
        }
    }
}

/**
 * Update record
**/
.property-form {
    border-radius: .5rem;
    overflow: hidden;
    .header {
        padding: 2rem 3rem;
        &.warning {
            background-color: $red;
        }
        &.info {
            background-color: $aqua;
        }
        .heading {
            font-size: 2.5em;
            color: white;
            font-weight: $light;
        }
    }
    .content {
        padding: 2rem 3rem;
        background-color: white;
        .block {
            border-bottom: 1px solid $gray;
        }
        .update {
            padding-top: 3.5rem;
            padding-bottom: 2rem;
        }
        .input {
            border: 1px solid black;
            padding: 1rem;
            width: 30rem;
            border-radius: .25rem;
        }
    }
}

/**
 * Map
**/
#map-view {
    .header {

    }
    .wrapper {
        position: relative;
        overflow: hidden;
        #map {
            height: 80vh;
        }
        #map-sidebar {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: -100%;
            width: 25rem;
            transition: all .5s ease;
            background-color: white;
            .image-wrapper {
                img {
                    width: 100%;
                    height: 15rem;
                    object-fit: cover;
                }
            }
            .content {
                padding: 2rem;
            }
            &.active {
                left: 0;
            }
        }
    }
}

/**
 * Submited message
**/
#submited {
    padding: 3rem;
    border-radius: .5rem;
    background-color: white;
    .header {
        .heading {
            font-size: 2em;
            font-weight: $regular;
        }
    }
    hr {
        margin: 2rem 0;
        border: 0;
        height: 1px;
        background-color: $light-gray;
    }
    .inner {
        .person {
            font-size: .8em;
            color: $blue;
            font-weight: $medium;
            text-transform: uppercase;
        }
        .location {
            color: $text-dark;
            font-size: 1.5em;
            padding-top: .5rem;
            padding-bottom: 1rem;
        }
        .description {
            font-size: .8em;
            line-height: 1.5;
            color: $text-dark;
        }
        .btn {
            margin-top: 2rem;
        }
    }
}

/**
 * Add another vacancy
**/
#add-another {
    padding: 1rem 3rem;
    border-radius: .5rem;
    background-color: white;
    p {
        color: $text-dark;
        font-size: .8em;
    }
    .upper-heading {
        font-weight: $medium;
    }
    .heading {
        color: $text-darkest;
        font-size: 1em;
        padding: 1rem 0;
        font-weight: $medium;
    }
}

/**
 * Messaging header search/refine
**/
#message-header {
    .header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: .8em;
        .search {
            display: flex;
            align-items: center;
            .submit {
                padding-right: .5rem;
                img {
                    width: 1.25rem;
                }
            }
            .input {
                width: 5rem;
                padding: .5rem;
                border: none;
                background-color: transparent;
            }
        }
        .refine-wrapper {
            padding-left: 1rem;
            position: relative;
            .refine {

            }
            .dropdown {
                position: absolute;
                z-index: 1;
                top: 1rem;
                right: -1rem;
                padding: 1rem;
                min-width: 16rem;
                background-color: white;
                border-radius: .25rem;
                box-shadow: 0 0 1rem 0 rgba($light-gray,.3);
                opacity: 0;
                visibility: hidden;
                transition: all .5s ease;
                &::before {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    right: 1rem;
                    bottom: 100%;
                    border: 1rem solid transparent;
                    border-bottom-color: white;
                }
                &.active {
                    top: 3rem;
                    opacity: 1;
                    visibility: visible;
                }
                .heading {
                    padding-top: .25rem;
                    color: $text-dark;
                    font-size: .8em;
                }
                .menu {
                    margin: 0;
                    padding: .5rem 0;
                    list-style: none;
                    .item {
                        padding: .5rem 0;
                        .icon-group {
                            display: flex;
                            align-items: center;
                            font-weight: $regular;
                            img {
                                width: 1.5rem;
                            }
                            span {
                                padding-left: .5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/**
 * LA Tennant placed
**/
.tennant-message {
    position: relative;
    padding: 3rem;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 0 .5rem 0 rgba($light-gray, .5);
    .status-wrapper {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        color: white;
        padding: 1rem;
        padding-right: 3rem;
        border-radius: .5rem;
        background-color: $light-green;
        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
        }
        p {
            font-size: .8em;
            text-transform: uppercase;
            font-weight: $medium;
            padding-left: .5rem;
        }
    }
    .heading {
        font-size: 3em;
        font-weight: $light;
    }
    hr {
        border: none;
        height: 1px;
        margin: 1rem 0;
        background-color: $light-gray;
    }
    .full-name {
        font-size: .9em;
        color: $blue;
        font-weight: $medium;
    }
    .location {
        color: $text-dark;
        font-size: 1.5em;
    }
    .message {
        font-size: .8em;
        color: $text-dark;
        padding: 2rem 0;
    }
    .buttons {
        display: flex;
        align-items: center;
        margin: 0 -1rem;
        .button {
            padding: 0 1rem;
        }
    }
}

/**
 * Message preview
**/
.message-preview {
    font-size: .8em;
    padding: 1rem 3rem;
    border-radius: .25rem;
    background-color: white;
    .image-wrapper {
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .info {
        .action {
            font-size: .9em;
            font-weight: $medium;
            &.required {
                color: $red;
            }
        }
        .heading {
            padding: .5rem 0;
            font-weight: $medium;
        }
        .time {
            font-weight: $regular;
        }
    }
    .message {
        max-width: 20rem;
        margin-left: 5%;
        color: $text-dark;
        line-height: 1.5;
    }
}

/**
 * LA reject property
**/
.reject-property-overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(black,.7);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    .wrapper {
        position: relative;
        width: 100%;
        padding: 5rem;
        overflow: hidden;
        max-width: 50rem;
        border-radius: .5rem;
        background-color: white;
        .close {
            position: absolute;
            z-index: 1;
            top: 2rem;
            left: 2rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: white;
            box-shadow: 0 0 1rem 0 rgba(black,.2);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 1.5rem;
                height: 1.5rem;
                object-fit: contain;
            }
        }
        .header {
            text-align: center;
            padding-bottom: 1rem;
            .icon {
                width: 2.75rem;
                height: 2.75rem;
                margin: 0 auto;
                object-fit: contain;
            }
            .heading {
                font-size: 3em;
                font-weight: $light;
            }
        }
        .content {
            .heading {
                font-size: 1.25em;
                font-weight: $bold;
            }
            .location {
                font-size: 1.75em;
            }
            .message {
                display: block;
                width: 100%;
                padding: 1rem;
                outline: none;
                margin: 2rem 0;
                resize: vertical;
                border-radius: .5rem;
                color: $text-darkest;
                border: 1px solid $text-darkest;
                &::placeholder {
                    color: currentColor;
                }
            }
            .btn {
                width: 100%;
            }
        }
    }
}

/**
 * Singla message notification
**/
#message-notify {
    background-color: $lightest-gray;
    border: 1px solid $gray;
    padding: 1rem 2rem;
    border-radius: .5rem;
    .type {
        width: 2.25rem;
    }
    .status {
        width: 1.5rem;
        margin: 0 .5rem;
    }
    .message {
        font-weight: $medium;
        .user-type {
            color: $red;
        }
    }
}

/**
 * Singla message
**/
.message {
    .title {
        font-weight: $light;
    }
}
#message-single {
    padding: 2rem 3rem;
    border-radius: .5rem;
    background-color: white;
    .info {
        .user-type {
            font-size: 1.25em;
            font-weight: $medium;
        }
        .heading {
            font-size: 1.25em;
            color: $text-dark;
            padding: .5rem 0;
        }
        .location {
            font-size: .9em;
            color: $text-dark;
        }
    }
    .message {
        padding: 2rem 0;
        .heading {
            font-size: 1.25em;
            font-weight: $medium;
            padding-bottom: .5rem;
        }
        .description {
            font-size: .8em;
            color: $text-dark;
            line-height: 1.5;
        }
    }
    .action {
        .heading {
            font-size: 1.25em;
            font-weight: $medium;
            padding-bottom: .5rem;
        }
    }
}

/**
 * jsCallendar
**/
.jsCalendar {
    table {
        border-radius: 0;
        thead {
            margin: 0;
            .jsCalendar-title-row {
                background-color: black;
                .jsCalendar-title {
                    display: flex;
                    .jsCalendar-title-name {
                        margin: 0 auto;
                        color: white;
                    }
                }
            }
        }
        tbody {
            margin: 0;
            line-height: 34px;
            border: 1px solid transparetn;
            .jsCalendar-current {
                color: black;
                border: 1px solid $purple;
                background-color: transparent;
            }
        }
    }
}

/**
 * Properties in grid
**/
.properties-grid {
    .property-ingrid {
        overflow: hidden;
        border-radius: .25rem;
        .top {
            position: relative;
            .status {
                position: absolute;
                z-index: 1;
                top: 1rem;
                left: 1rem;
                background-color: $light-green;
                padding: .25rem 1.25rem;
                p {
                    color: white;
                }
            }
            .trafic-light {
                position: absolute;
                top: 0;
                right: 0;
                padding: .25rem;
                background-color: black;
                border-radius: .25rem;
                .light {
                    width: 1.25rem;
                    height: 1.25rem;
                    border-radius: 50%;
                    background-color: $text;
                    &:nth-child(2) {
                        margin: .25rem 0;
                    }
                }
            }
            .image {
                width: 100%;
                height: 15rem;
                object-fit: cover;
            }
        }
        .bottom {
            padding: 1rem;
            background-color: white;
            border: 1-x solid $light-gray;
            .location {
                font-size: .8em;
                color: $text-dark;
                font-weight: $medium;
            }
            .heading {
                font-weight: $medium;
                padding: .5rem 0;
            }
            .distance {
                color: $blue;
                font-size: .8em;
                font-weight: $medium;
                padding-bottom: .5rem;
            }
            .description {
                font-size: .9em;
                color: $text-dark;
                line-height: 1.5;
            }
        }
    }
}

/**
 * Properties list
**/
.properties-list {
    .property-block-wrapper {
        padding: .5rem 0;
        .property-block {
            border-radius: .25rem;
            overflow: hidden;
            background-color: white;
            .left {
                position: relative;
                .status {
                    position: absolute;
                    z-index: 1;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1rem;
                    background-color: $light-green;
                    p {
                        color: white;
                    }
                }
                .trafic-light {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    right: 0;
                    padding: .25rem;
                    overflow: hidden;
                    border-radius: .25rem;
                    background-color: black;
                    .light {
                        width: 1.25rem;
                        height: 1.25rem;
                        margin: .25rem 0;
                        border-radius: 50%;
                        background-color: $text-dark;
                    }
                }
                .image {
                    width: 100%;
                    height: 20vmax;
                    object-fit: cover;
                }
            }
            .right {
                padding: 2rem 3rem;
                .location {
                    color: $text;
                    font-size: .9em;
                    font-weight: $medium;
                }
                .heading {
                    font-size: 1.25em;
                    font-weight: $medium;
                    padding: 1rem 0;
                }
                .distance {
                    color: $blue;
                    font-size: .9em;
                    font-weight: $medium;
                }
                .description {
                    padding: 1rem 0;
                    font-size: .9em;
                    color: $text-dark;
                    line-height: 1.5;
                }
            }
        }
    }
}
